html {
	height:100%;
}

body {
	height:100%;
	height:100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size:cover;
}

#wrapper {
	min-width:500px;	
	height:100%;
}

/* Header and navigation */

#header {
	height:100px;
}

#sitelogo {
	width:100px;
	height:100px;
	background-image:url('../img/clogo.png');
	background-repeat:no-repeat;
	background-position:center center;
	float:left;
}

#sitename {
	font-family:'bitterbold';
	line-height:56px;
	font-size:56px;
	color:#03A89E;
	padding:20px 0 0 0;
	margin:0;
	width:700px;
}

#menu {
	float:right;
	font-family:'robotobold';
	font-size:16px;
	color:#FFFFFF;
	margin:10px 20px 20px 20px;
}

#menu ul li {
	display:inline;
	padding:27px;
	list-style:none;
	background-repeat:no-repeat;
	background-position:7px center;
	margin:0 -5px;
}

/*
#menu ul li.home {
	background-image:url('../img/icon_home.png');	
}

#menu ul li.login {
	background-image:url('../img/icon_login.png');	
}

#menu ul li.signup {
	background-image:url('../img/icon_signup.png');	
}
*/

#menu ul li a {
	text-decoration:none;
	color:#03A89E;
	padding:7px 15px;
}

#menu ul li a:hover {
	border-bottom:3px #03A89E solid;
}

#welcomemsg {
	font-family:'roboto';
	font-size:16px;
	color:#03A89E;
	text-align:right;
	margin:0 40px 0 0;
	height:25px;
}

#search {
	width:800px;
	height:50px;
	margin:30px auto 0 auto;
}

#searchlabel {
	float:left;
	width:125px;
	background-color:#03A89E;
	color:#FFFFFF;
	font-family:'robotobold';
	font-size:20px;
	text-align:center;
	padding:12px 10px;
	border-radius:5px 0 0 5px;
}

a {
	color:#03A89E;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

/* content controls the login signup forms layout */

#content {
	width:500px;
	margin: 150px auto 0 auto;
	border-radius: 10px;	
	padding:20px;	
	background-color:#FFFFFF;
	box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}

#content .microtitle {
	font-family:'bitterbold';
	line-height:25px;
	font-size:25px;
	color:#03A89E;
	padding:0;
	margin:0;
}

#content .title {
	font-family:'bitterbold';
	line-height:56px;
	font-size:56px;
	color:#03A89E;
	padding:0;
	margin:0;
}

/* main content handles the rest of the pages layout */

#maincontent {
	width:80%;
	margin: 100px auto 0 auto;
	padding:20px;	
	background-color:#FFFFFF;
}

#maincontent ul li {
	padding:10px;
	list-style:none;
	margin:0 -5px;
}

#class_seller, #class_user, #class_mods {
	font-family:"robotobold";
	font-size:16px;
	width:250px;
	margin:10px 0;
}

#class_user ul li a {
	text-decoration:none;
	color:#03A89E;
	padding:7px 0;
	margin:0;
}

#class_user ul li a:hover {
	border-bottom:3px #03A89E solid;
}

#class_seller ul li a {
	text-decoration:none;
	color:#32c3f3;
	padding:7px 0;
}

#class_seller ul li a:hover {
	border-bottom:3px #32c3f3 solid;
}

#class_mods ul li a {
	text-decoration:none;
	color:#BF5FFF;
	padding:7px 0;
}

#class_mods ul li a:hover {
	border-bottom:3px #BF5FFF solid;
}

#displaywindow {
	float:left;
	border:1px solid #000;
	padding:10px;
}

#submenu {
	float:left;
}

/* search form */

#searchform {
	margin:0;
	padding:0;
}

#searchform input {
	width:530px;
	height:51px;
	background-color:#FFFFFF;
	border:none;
	padding:0 10px;	
	font-family:"robotoregular";
	font-size:16px;
	color:#2d3235;	
	box-shadow:inset 0px 1px 4px #999999;
}

#searchform input:focus {
	outline:2px solid #03A89E;
}

#searchform  #submit {
	width:100px;
	font-family:"robotomedium";
	margin:0;
	background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top, #f9f9f9, #e3e3e3); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top, #f9f9f9, #e3e3e3); /* For Firefox 3.6 to 15 */
	background: linear-gradient(top, #f9f9f9, #e3e3e3);
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #e3e3e3 100%);
	border:1px solid #999999;
	color:#2d3235;
	box-shadow:none;	
	border-radius:0 5px 5px 0;
	outline:none;
}

/*     Non-Auth Form Elements   */

#nonauthform {
	margin: 25px 0 0 0;
}

#nonauthform .label {
	font-family:'robotomedium';
	font-size:16px;
	color:#2d3235;
	padding:0;
	margin:15px 0 5px 3px;
}

#nonauthform .microlabel {
	font-family:'robotomedium';
	font-size:14px;
	color:#2d3235;
	padding:0;
	margin:3px 0 15px 3px;
}

#nonauthform input {
	width:480px;
	height:35px;
	background-color:#FFFFFF;
	border:none;
	padding:0 7px;
	border:2px solid #FFFFFF;	
	font-family:"robotoregular";
	font-size:16px;
	color:#2d3235;	
	box-shadow:inset 0px 1px 4px #999999;
}

#nonauthform input:focus {
	outline:2px solid #03A89E;
}

#nonauthform  #submit {
	width:100px;
	font-family:"robotomedium";
	margin:15px 20px 0 0;
	background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top, #f9f9f9, #e3e3e3); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top, #f9f9f9, #e3e3e3); /* For Firefox 3.6 to 15 */
	background: linear-gradient(top, #f9f9f9, #e3e3e3);
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #e3e3e3 100%);
	border:1px solid #999999;
	color:#2d3235;
	box-shadow:none;	
	border-radius:5px;
	outline:none;
}

#nonauthform #submit:hover {
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top, #e3e3e3, #f9f9f9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top, #e3e3e3, #f9f9f9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(top, #e3e3e3, #f9f9f9);
	background-image: -ms-linear-gradient(top, #e3e3e3 0%, #f9f9f9 100%);
	cursor:pointer;
}

#nonauthform  p.labelinfo {
	font-family:"robotoregular";
	font-size:16px;
	color:#2d3235;
	margin:0 0 25px 0;
}

#nonauthform .inputerror {   /* error */
	margin:0 0 10px 0;
	width:483px;
	font-family:'robotomedium';
	font-size:14px;
	background-color:#ED4337;
	color:#FFFFFF;
	padding:5px 5px 5px 10px;
}

#nonauthform select {
	border: 0 !important;  /*Removes border*/
	appearance: none;	
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	background: url(/assets/img/icon_down.png) no-repeat 98% center; 
	width: 315px; /*Width of select dropdown to give space for arrow image*/
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
	color: #2d3235;
	padding:0 7px;
	margin-left:2px;
	box-shadow:inset 0px 1px 4px #999999;
	height:35px;
	outline:none;
}

#nonauthform #check {
	margin:25px 0 15px 0;
	padding:0;
	border:none;
	box-shadow:none;
	width:15px;
	height:15px;
	outline:none;
}

/* status css */

#complete, #incomplete, #failed {
	padding:5px 5px 5px 35px;
	font-family:'robotomedium';
	font-size:18px;
	background-position:0 center;
	background-repeat:no-repeat;
}

#failed {
	background-image:url('../img/icon_error.png');
	color:#ED4337;
}

#incomplete {
	background-image:url('../img/icon_caution.png');
	color:#FF7D40;
}

#complete {
	background-image:url('../img/icon_good.png');
	color:#458B00;
}

#error, #status {
	padding:5px 5px 5px 35px;
	font-family:'robotobold';
	font-size:16px;
	margin-bottom:20px;
	background-position:0 center;
	background-repeat:no-repeat;
	text-align:left;
}

#error {
	background-image:url('../img/icon_error.png');
	color:#ED4337;
}

#status {
	background-image:url('../img/icon_good.png');
	color:#458B00;
}