html {
	height:100%;
}

body {
	height:100%;
	height:100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size:cover;
}

#wrapper {
	min-width:500px;	
	height:100%;
}

/* Header and navigation */

#header {
	height:100px;
}

#sitelogo {
	width:100px;
	height:100px;
	background-image:url('../img/clogo.png');
	background-repeat:no-repeat;
	background-position:center center;
	float:left;
}

#sitename {
	font-family:'bitterbold';
	line-height:56px;
	font-size:56px;
	color:#03A89E;
	padding:20px 0 0 0;
	margin:0;
	width:700px;
}

#menu {
	float:right;
	font-family:'robotobold';
	font-size:16px;
	color:#FFFFFF;
	margin:10px 20px 20px 20px;
}

#menu ul li {
	display:inline;
	padding:27px;
	list-style:none;
	background-repeat:no-repeat;
	background-position:7px center;
	margin:0 -5px;
}


#menu ul li.market {
	background-image:url('../img/icon_market.png');	
}
#menu ul li.dash {
	background-image:url('../img/icon_dash.png');	
}
#menu ul li.cart {
	background-image:url('../img/icon_cart.png');	
}
#menu ul li.logout {
	background-image:url('../img/icon_logout.png');	
}


#menu ul li.login {
	background-image:url('../img/icon_login.png');	
}
#menu ul li.signup {
	background-image:url('../img/icon_signup.png');	
}


#menu ul li a {
	text-decoration:none;
	color:#03A89E;
	padding:7px 15px;
}

#menu ul li a:hover {
	border-bottom:3px #03A89E solid;
}

#cartitems {
	font-family:"robotobold";
	font-size:14px;
	padding:3px 8px;
	border-radius:10px;
	display:inline;
	background-color:#03A89E;
	color:#FFFFFF;
}

#welcomemsg {
	font-family:'robotoregular';
	font-size:16px;
	color:#03A89E;
	text-align:right;
	margin:0 40px 0 0;
	height:25px;
}

#search {
	width:800px;
	height:50px;
	margin:30px auto 0 auto;
}

#searchlabel {
	float:left;
	width:125px;
	background-color:#03A89E;
	color:#FFFFFF;
	font-family:'robotobold';
	font-size:20px;
	text-align:center;
	padding:12px 10px;
	border-radius:5px 0 0 5px;
}

a {
	color:#03A89E;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

/* content controls the login signup forms layout */

#content {
	width:500px;
	margin: 150px auto 0 auto;
	border-radius: 10px;	
	padding:20px;	
	background-color:#FFFFFF;
	box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}

#content .microtitle {
	font-family:'bitterbold';
	line-height:25px;
	font-size:25px;
	color:#03A89E;
	padding:0;
	margin:0;
}

#content .title {
	font-family:'bitterbold';
	line-height:56px;
	font-size:56px;
	color:#03A89E;
	padding:0;
	margin:0;
}

/* main content handles the rest of the pages layout */

#maincontent {
	width:65%;
	min-width:1100px;
	margin:100px auto 0 auto;
	padding:20px;	
	background-color:#FFFFFF;
}

#maincontent ul li {
	padding:10px;
	list-style:none;
	margin:0 -5px;
}

#upgrade {
	width:200px;
	text-align:center;
	margin:0;
}

#upgrade a {
	font-family:"robotobold";
	font-size:16px;
	color:#FFFFFF;
	padding:10px 38px;
	background-color:#32c3f3;
	border:2px solid #32c3f3;
}

#upgrade a:hover {
	color:#32c3f3;
	background-color:#FFFFFF;
	text-decoration:none;
}

#class_seller, #class_user, #class_mods {
	font-family:"robotobold";
	font-size:16px;
	width:250px;
	margin:10px 0;
}

#class_user {
	border-left:5px solid #03A89E;
}

#class_seller {
	border-left:5px solid #32c3f3;
}

#class_mods {
	border-left:5px solid #BF5FFF;
}


#class_user ul li a {
	text-decoration:none;
	color:#03A89E;
	padding:7px 0;
	margin:0;
}

#class_user ul li a:hover {
	border-bottom:3px #03A89E solid;
}

#class_seller ul li a {
	text-decoration:none;
	color:#32c3f3;
	padding:7px 0;
}

#class_seller ul li a:hover {
	border-bottom:3px #32c3f3 solid;
}

#class_mods ul li a {
	text-decoration:none;
	color:#BF5FFF;
	padding:7px 0;
}

#class_mods ul li a:hover {
	border-bottom:3px #BF5FFF solid;
}

#displaywindow {
	float:left;
	padding:35px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	width:750px;
}

#resultswindow {
	display:table;
	padding:35px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	width:1250px;
	margin:0 auto;
}

#tile {
	display:table-cell;
	width:200px;
	height:325px;
	margin:25px;
	float:left;
	border:1px solid #FFFFFF;
}

#tile #prodimage {
	width:100%;
	height:175px;
	background-color:#CCCCCC;
	background-image:url('../img/default.png');
	background-repeat: no-repeat;
	background-position:center center;	
}

#tile:hover {
	border:1px solid #EEEEEE;
}

#tile #prodtitle {
	width:100%;
	background-color:#F6F6F6;
	padding:0px;
	margin:0px;
}

#prodtitle p {
	padding:9px;
	margin:0;
	font-family:"robotobold";
	font-size:16px;	
	color:#2d3235;
}

#tile #proddesp {
	width:100%;
	height:80px;
	padding:0px;
	margin:0px;
}

#proddesp p {
	padding:9px;
	margin:0;
	font-family:"roboto_condensedregular";
	font-size:14px;	
	color:#2d3235;
}

#tile #prodprice {
	width:100%;
	height:30px;
	padding:0px;
	margin:0px;
}

#prodprice p {
	float:right;
	padding:9px;
	margin:0;
	font-family:"robotobold";
	font-size:16px;	
}

#submenu {
	float:left;
}

#divlabel {
	margin:0 0 30px 0;
	font-family:'roboto_condensedbold';
	font-size:20px;
	color:#2d3235;	
}

#regulartext {
	font-family:"robotoregular";
	font-size:16px;
	line-height:22px;
	margin:-23px 0 0 0;
}


/* search form */

#searchform {
	margin:0;
	padding:0;
}

#searchform input {
	width:530px;
	height:51px;
	background-color:#FFFFFF;
	border:none;
	padding:0 10px;	
	font-family:"robotoregular";
	font-size:16px;
	color:#2d3235;	
	box-shadow:inset 0px 1px 4px #999999;
}

#searchform input:focus {
	outline:2px solid #03A89E;
}

#searchform  #submit {
	width:100px;
	font-family:"robotomedium";
	margin:0;
	background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top, #f9f9f9, #e3e3e3); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top, #f9f9f9, #e3e3e3); /* For Firefox 3.6 to 15 */
	background: linear-gradient(top, #f9f9f9, #e3e3e3);
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #e3e3e3 100%);
	border:1px solid #999999;
	color:#2d3235;
	box-shadow:none;	
	border-radius:0 5px 5px 0;
	outline:none;
}

/*     Non-Auth Form Elements   */

#nonauthform {
	margin: 25px 0 0 0;
}

#nonauthform .label {
	font-family:'robotomedium';
	font-size:16px;
	color:#2d3235;
	padding:0;
	margin:15px 0 5px 3px;
}

#nonauthform .microlabel {
	font-family:'robotomedium';
	font-size:14px;
	color:#2d3235;
	padding:0;
	margin:3px 0 15px 3px;
}

#nonauthform input {
	width:480px;
	height:35px;
	background-color:#FFFFFF;
	border:none;
	padding:0 7px;
	border:2px solid #FFFFFF;	
	font-family:"robotoregular";
	font-size:16px;
	color:#2d3235;	
	box-shadow:inset 0px 1px 4px #999999;
}

#nonauthform input:focus {
	outline:2px solid #03A89E;
}

#nonauthform  #submit {
	width:100px;
	font-family:"robotomedium";
	margin:15px 20px 0 0;
	background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top, #f9f9f9, #e3e3e3); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top, #f9f9f9, #e3e3e3); /* For Firefox 3.6 to 15 */
	background: linear-gradient(top, #f9f9f9, #e3e3e3);
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #e3e3e3 100%);
	border:1px solid #999999;
	color:#2d3235;
	box-shadow:none;	
	border-radius:5px;
	outline:none;
}

#nonauthform #submit:hover {
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top, #e3e3e3, #f9f9f9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top, #e3e3e3, #f9f9f9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(top, #e3e3e3, #f9f9f9);
	background-image: -ms-linear-gradient(top, #e3e3e3 0%, #f9f9f9 100%);
	cursor:pointer;
}

#nonauthform  p.labelinfo {
	font-family:"robotoregular";
	font-size:16px;
	color:#2d3235;
	margin:0 0 25px 0;
}

#nonauthform .inputerror {   /* error */
	margin:0 0 10px 0;
	width:483px;
	font-family:'robotomedium';
	font-size:14px;
	background-color:#ED4337;
	color:#FFFFFF;
	padding:5px 5px 5px 10px;
}

#nonauthform select {
	border: 0 !important;  /*Removes border*/
	appearance: none;	
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	background: url(/assets/img/icon_down.png) no-repeat 98% center; 
	width: 315px; /*Width of select dropdown to give space for arrow image*/
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
	color: #2d3235;
	padding:0 7px;
	margin-left:2px;
	box-shadow:inset 0px 1px 4px #999999;
	height:35px;
	outline:none;
}

#nonauthform #check {
	margin:25px 0 15px 0;
	padding:0;
	border:none;
	box-shadow:none;
	width:15px;
	height:15px;
	outline:none;
}

/* Universal Form Elements */

input[type="submit"] {
	border:none;
	outline:none;
}

#contentform  #label {
	width:200px;
	font-family:"robotomedium";
	font-size:16px;
	color:#2d3235;
	float: left;
	text-align: right;
	margin: 5px 15px 0 0;
}


#contentform  #field {
	margin:10px;
}

#contentform  #fieldreq {
	margin:10px 0;
	width:540px;
	margin-left:210px;
}

#contentform input {
	width:350px;
	height:35px;
	background-color:#FFFFFF;
	border:none;
	padding:0 7px;
	border:2px solid #FFFFFF;	
	font-family:"robotoregular";
	font-size:16px;
	color:#2d3235;	
	box-shadow:inset 0px 1px 4px #999999;
}

#contentform #txtArea {
	width:350px;
	height:100px;
	background-color:#FFFFFF;
	border:none;
	padding:0 7px;
	border:2px solid #FFFFFF;	
	font-family:"robotoregular";
	font-size:16px;
	color:#2d3235;	
	box-shadow:inset 0px 1px 4px #999999;
}

#contentform input:focus {
	outline:2px solid #03A89E;
}

#contentform #txtArea:focus {
	outline:2px solid #03A89E;
}

#contentform  #submit, #contentform  #cancel, #contentform  #misc, #contentform #make {
	font-family:"robotomedium";
	background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top, #f9f9f9, #e3e3e3); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top, #f9f9f9, #e3e3e3); /* For Firefox 3.6 to 15 */
	background: linear-gradient(top, #f9f9f9, #e3e3e3);
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #e3e3e3 100%);
	border:1px solid #999999;
	color:#2d3235;
	box-shadow:none;	
	border-radius:5px;
	outline:none;
}

#contentform  #submit {
	width:100px;
	margin:15px 0 0 215px;
}

#contentform  #cancel {
	width:100px;
	margin:15px 0 0 15px;
}

#contentform  #misc {
	width:125px;
	margin:15px 0 0 15px;
}

#contentform #submit:hover, #contentform #cancel:hover, #contentform  #misc:hover, #contentform #make:hover  {
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top, #e3e3e3, #f9f9f9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top, #e3e3e3, #f9f9f9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(top, #e3e3e3, #f9f9f9);
	background-image: -ms-linear-gradient(top, #e3e3e3 0%, #f9f9f9 100%);
	cursor:pointer;
}

#contentform .inputerror {   /* error */
	margin:0 auto 10px 5px;
	width:353px;
	font-family:'robotomedium';
	font-size:14px;
	background-color:#ED4337;
	color:#FFFFFF;
	padding:5px 5px 5px 10px;
}

#contentform select {
	border: 0 !important;  /*Removes border*/
	appearance: none;	
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	background: url(/assets/img/icon_down.png) no-repeat 98% center; 
	width: 364px; /*Width of select dropdown to give space for arrow image*/
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
	color: #2d3235;
	padding:0 7px;
	margin-left:2px;
	box-shadow:inset 0px 1px 4px #999999;
	height:35px;
}

select::-ms-expand {
    display: none;
}

#contentform select:hover {
	cursor:pointer;
}

#contentform #check {
	margin:10px 0 0 0px;
	padding:0;
	border:none;
	box-shadow:none;
	width:15px;
	height:15px;
	outline:none;
}

/*radio buttons */

.tgglbtn { 
    text-align:centre; 
    margin:0;
    padding:3px 6px; 
    color:#2d3235; 
    background-color:#FFFFFF;  
    display:inline-block;  
    cursor:pointer;
	border:1px solid #CCCCCC;
}


#radiocheck_md * {
	width:85px;
    height:30px;
    line-height:30px;
	margin:0;
	padding:0;
}

#radiocheck_md div {
    display:inline-block;
    position:relative;
    margin:0;
	padding:0;
}

#radiocheck_md div label {
    position:absolute;
    z-index:0;
    padding:0;
    text-align:center;
}

#radiocheck_md div input {
    position:absolute;
    z-index:1;
    cursor:pointer;
    opacity:0;
	width:100px;
}

#radiocheck_md div:hover label {
    background:#F3F3F3;
}

#radiocheck_md div input:checked + label {
	color:#FFFFFF;
    background:#03A89E;
	border:1px solid #03A89E;
}

/* status css */

#complete, #incomplete, #failed {
	padding:5px 5px 5px 35px;
	font-family:'robotomedium';
	font-size:18px;
	background-position:0 center;
	background-repeat:no-repeat;
}

#failed {
	background-image:url('../img/icon_error.png');
	color:#ED4337;
}

#incomplete {
	background-image:url('../img/icon_caution.png');
	color:#FF7D40;
}

#complete {
	background-image:url('../img/icon_good.png');
	color:#458B00;
}

#error, #status {
	padding:5px 5px 5px 35px;
	font-family:'robotobold';
	font-size:16px;
	margin-bottom:20px;
	background-position:0 center;
	background-repeat:no-repeat;
	text-align:left;
}

#error {
	background-image:url('../img/icon_error.png');
	color:#ED4337;
}

#status {
	background-image:url('../img/icon_good.png');
	color:#458B00;
}

/* table formatting */

#listings {	
	width:750px;
	margin:0 auto;	}

#listings td {
	padding:10px 0;
	text-align:left;
	font-size:18px;
	border: 1px solid #f3f3f3;
	font-family:"robotoregular";
}

#listings td a{
	text-decoration:none;
	color:#32c3f3;
	font-family:"robotobold";
}

#listings td a:hover{
	color:#666666;
}

#listings th {
	padding:15px 0px;
	font-size:18px;
	background-color:#F3F3F3;
}


#listings td#pid {
	font-family:'robotobold';
	width:40px;
	text-align:center;
}

#listings td#pname {
	width:285px;
	text-align:left;
	padding-left:20px;
}

#listings td#price {
	width:120px;
	padding-right:20px;
	text-align:right;
}

#listings td#units {
	width:50px;
	padding-right:20px;
	text-align:right;
}

#listings td#datetime {
	width:130px;
	text-align:center;
}

#listings td#delete {
	width:40px;
	text-align:center;
}

/* get orders table */

#listings td#invoice {
	width:100px;
	text-align:center;
}

#listings td#orderplaced {
	width:250px;
	text-align:left;
	padding-left:20px;
}

#listings td#items {
	width:100px;
	text-align:center;
}

#listings td#total {
	width:200px;
	padding-right:20px;
	text-align:right;
}

#listings td#orderstatus {
	width:100px;
	text-align:center;
}


/* remove edit buttons */

#remove, #edit {	
	background-repeat:no-repeat;
	width:25px;
	height:25px;
	margin:5px auto;
}

#remove {
	background-image:url('../img/icon_error.png');
}

#edit {
	background-image:url('../img/icon_edit.png');
}

/* product page css */

#productwindow {
	display:table;
	padding:35px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	width:800px;
	margin:0 auto;
	color: #2d3235;
}

#productwindow #listImg {
	display:table-cell;
	float:left;
	margin:0 20px 0 0;
	padding:0px;
}

#productwindow #listTitle {
	width:100%;
	margin:0;
	padding:0;
}

#productwindow #listPrice {
	width:100%;
	margin:0 0 10px 0;
	padding:0;
}

#listTitle p {
	font-size:32px;
	font-family:"robotobold";
	padding:0;
	margin:0;
}

#listPrice p {
	font-size:26px;
	font-family:"robotobold";
	padding:0;
	margin:0;	
	color:#03A89E;
}

#listDetail .prefix {
	display:inline-block;
	font-size:15px;
	font-family:"robotobold";
	padding:0;
	margin:5px 0 0 0;
	width:80px;
}

#listDetail .suffix  {
	display:inline-block;
	font-size:15px;
	font-family:"robotoregular";
	padding:0;
	margin:5px 0 0 0;	
}

#addToCart {
	float:right;
	width:100px;
	margin:0 0 0 0;
	padding:7px 5px;
	background-color:#03A89E;
	color:#FFFFFF;
	text-align:center;
	border-radius:5px;
	border: 2px solid #03A89E;
	font-family:"robotobold";
}

#addToCart:hover {
	background-color:#FFFFFF;
	color:#03A89E;
}

#soldOut {
	float:right;
	width:100px;
	margin:0 0 0 0;
	padding:7px 5px;
	background-color:#FF7D40;
	color:#FFFFFF;
	text-align:center;
	border-radius:5px;
	border: 2px solid #FF7D40;
	font-family:"robotobold";
}

#soldOut:hover {
	background-color:#FFFFFF;
	color:#FF7D40;
}

#productwindow #listDesp {
	width:100%;
	margin:40px 0 0 0;
	padding:0;
}

#listDesp p {
	font-family:"robotoregular";
	font-size:16px;
	line-height:24px;
}

/*  Cart form */

#cartwindow {
	display:table;
	padding:35px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	width:500px;
	margin:0 auto;
	color: #2d3235;
}

#cartform {
	margin:0 0 0 0;
}

#cartform  #label {
	width:200px;
	font-family:"robotomedium";
	font-size:16px;
	color:#2d3235;
	float:left;
	text-align: right;
	margin: -2px 15px 0 0;
}


#cartform  #field {
	margin:10px;
}

#cartform  #fieldreq {
	margin:15px 0;
	width:100px;
	margin-left:210px;
}

#cartform input {
	width:30px;
	height:35px;
	background-color:#FFFFFF;
	border:none;
	padding:0 7px;
	border:2px solid #FFFFFF;	
	font-family:"robotoregular";
	font-size:16px;
	color:#2d3235;	
	box-shadow:inset 0px 1px 4px #999999;
	text-align:center;
}

#cartform input:focus {
	outline:2px solid #03A89E;
}

#cartform #txtArea:focus {
	outline:2px solid #03A89E;
}

#cartform  #submit, #cartform  #cancel, #cartform  #misc, #cartform #make {
	font-family:"robotomedium";
	background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top, #f9f9f9, #e3e3e3); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top, #f9f9f9, #e3e3e3); /* For Firefox 3.6 to 15 */
	background: linear-gradient(top, #f9f9f9, #e3e3e3);
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #e3e3e3 100%);
	border:1px solid #999999;
	color:#2d3235;
	box-shadow:none;	
	border-radius:5px;
	outline:none;
}

#cartform  #submit {
	width:110px;
	margin:15px 0 0 215px;
}

#cartform  #cancel {
	width:100px;
	margin:15px 0 0 15px;
}

#cartform  #misc {
	width:125px;
	margin:15px 0 0 15px;
}

#cartform #submit:hover, #cartform #cancel:hover, #cartform  #misc:hover, #cartform #make:hover  {
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top, #e3e3e3, #f9f9f9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top, #e3e3e3, #f9f9f9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(top, #e3e3e3, #f9f9f9);
	background-image: -ms-linear-gradient(top, #e3e3e3 0%, #f9f9f9 100%);
	cursor:pointer;
}

#cartform .inputerror {   /* error */
	margin:0 auto 10px 5px;
	width:275px;
	font-family:'robotomedium';
	font-size:14px;
	background-color:#ED4337;
	color:#FFFFFF;
	padding:5px 5px 5px 10px;
}

#cartform #remove {	
	display:inline;
	background-repeat:no-repeat;
	width:25px;
	height:25px;
	margin:5px auto;
	background-image:url('../img/icon_error.png');
	float:right;
}

#cartform .soldby {
	font-family:"robotoregular";
	font-size:14px;
	color:#2d3235;
}

#qtylabel {
	margin:-30px 0 15px 222px;
	font-family:'robotobold';
	font-size:16px;
}

